@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "tailwindcss";

@theme {
  --color-primary: #213f89;
  --color-primary-reliable: #213f89;
  --color-primary-modern: #004fff;
  --color-primary-comfort: #5479f7;
  --color-primary-casual: #41434b;
  --color-primary-border: #b6c5e5;
  --color-background-light: #f2f4f5;
  --color-gray-light: #f9f7f7;
  --color-gray-dark: #d3d3d3;
  --color-foreground: #ffffff;
  --color-background: #000000;
  --color-danger: #e21c24;
  --color-danger-comfort: #ebbdbf;
  --color-success: #22aa73;
  --color-placeholder: #6b7280;
}

* {
  font-family: "Roboto";
}

code {
  @apply w-full block p-2 bg-gray-light text-background  text-xs;
  white-space: break-spaces;
}

tr {
  @apply duration-100;
}

tr:nth-child(even) {
  @apply hover:bg-blue-200;
}

tr:nth-child(odd) {
  @apply bg-blue-50  hover:bg-blue-200;
}

td,
th {
  @apply px-2;
}

/** Custom Vue3DatePicker See https://vue3datepicker.com/customization/theming/ */
.dp__theme_light {
  --dp-primary-color: #369c7b;
  --dp-hover-color: #00ab5514;
  --dp-font-size: 0.875rem;
  --dp-disabled-color: #f9fafb;
}
.dp__theme_dark {
  --dp-primary-color: #369c7b;
  --dp-hover-color: #00ab5514;
  --dp-font-size: 0.875rem;
  --dp-disabled-color: #f9fafb;
  --dp-background-color: #4b5563;
  --dp-text-color: #d0d4da;
}
input[data-test="dp-input"] {
  @apply border py-[6px] rounded-3xl text-primary-modern;
}
.dp__action_button.dp__action_select {
  @apply bg-gray-light;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollber::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollber {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container {
  /* @apply mx-auto; */
}

.see-more-icon {
  clip-path: polygon(100% 0, 0 0, 50% 30%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
